---
name: CI
'on':
  pull_request:
  workflow_dispatch:
  push:
    branches:
      - main
      - pre-commits
  schedule:
    - cron: "0 1 * * 1"

jobs:
  checks:
    runs-on: ubuntu-latest
    steps:
      -
        name: Checkout
        uses: actions/checkout@v3
      -
        name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.x'
          cache: 'pip'
      -
        name: Run pre-commit
        run: |
          pip install pre-commit
          pre-commit run --all-files

  docker:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - context: samila/
            tags: |
              toozej/genartrated:samila
              ghcr.io/toozej/genartrated:samila
              quay.io/toozej/genartrated:samila
          - context: fractals/
            tags: |
              toozej/genartrated:fractals
              ghcr.io/toozej/genartrated:fractals
              quay.io/toozej/genartrated:fractals
          # - context: service-b
          #  tags: |
          #    toozej/genartrated:service-b
          #    ghcr.io/toozej/genartrated:service-b
          #    quay.io/toozej/genartrated:service-b
    steps:
      -
        name: Checkout
        uses: actions/checkout@v3
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      -
        name: Login to DockerHub
        uses: docker/login-action@v2
        # https://docs.docker.com/docker-hub/access-tokens/
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      -
        name: Login to GitHub Container Registry
        uses: docker/login-action@v2
        # https://docs.github.com/en/packages/working-with-a-github-packages-registry/working-with-the-container-registry
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GH_TOKEN }}
      -
        name: Login to Quay Container Registry
        uses: docker/login-action@v2
        # https://github.com/marketplace/actions/push-to-registry#examples
        with:
          registry: quay.io
          username: ${{ secrets.QUAY_USERNAME }}
          password: ${{ secrets.QUAY_TOKEN }}
      -
        name: Build and push
        uses: docker/build-push-action@v3
        with:
          context: ${{ matrix.context }}
          tags: ${{ matrix.tags }}
          platforms: linux/amd64
          push: true
